@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --Light-red: hsl(356, 100%, 66%);
  --Very-light-red: hsl(355, 100%, 74%);
  --Very-dark-blue: hsl(208, 49%, 24%);

  --White: hsl(0, 0%, 100%);
  --Grayish-blue: hsl(240, 2%, 79%);
  --Very-dark-grayish-blue: hsl(207, 13%, 34%);
  --Very-dark-black-blue: hsl(240, 10%, 16%);

  /* ### Gradient */

  /* Background gradient - Intro/CTA mobile nav: */

  --Very-light-red-bg: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);

  /* Background gradient - body: */

  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);

  /* font family */
  --overpass: "Overpass";
  --ubuntu: "Ubuntu";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h-heading {
  font-family: var(--overpass);
}

.p-para {
  font-family: var(--ubuntu);
}

body {
  width: 100%;
  height: fit-content;
}

.hidden {
  display: none;
}

/* HEADER BACKGROUND DESIGN */

.header-bg {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    hsl(13, 100%, 72%) 20%,
    hsl(353, 100%, 62%) 70%
  );
  border-radius: 0px 0px 0px 128px;
}

/* HEADER DESIGN */
.header {
  width: 100%;
  min-height: 100vh;
  background-image: url(./images/bg-pattern-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: 200vh;
  background-position: -250px -200px;
  border-radius: 0px 0px 0px 120px;
}

/* HEADER - MOBILE NAV DESIGN */

.header .mobile-nav {
  width: 100%;
  padding: 60px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 111;
}

/* MOBILE NAV - LOGO DESIGN */
.mobile-nav .logo-div .logo {
  height: 30px;
}

/* MOBILE NAV - HAMBURGER DESIGN */
.mobile-nav .hamburger .open-btn {
  cursor: pointer;
}

/* MOBILE MENU DESIGN */
.mobile-menu {
  width: 100%;
  position: absolute;
  top: 100px;
  font-family: var(--overpass);
  z-index: 111;
}

.mobile-menu .mobile-menu-list {
  background-color: var(--White);
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  border-radius: 6px;
}

.list-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-div .list-active {
  font-size: 16px;
}

.list-div .list-light {
  background-color: var(--Grayish-blue);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 4px;
}

.list-light span {
  cursor: pointer;
}

.mobile-menu-list hr {
  margin-top: 10px;
}

.mobile-menu-list .mobile-menu-list-signup {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.mobile-menu-list-signup a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.mobile-menu-list-signup .login {
  color: var(--Very-dark-black-blue);
}

.mobile-menu-list-signup .signup {
  color: var(--White);
  background: linear-gradient(
    to right,
    hsl(13, 100%, 72%) 20%,
    hsl(353, 100%, 62%) 70%
  );
  width: fit-content;
  padding: 12px 30px;
  border-radius: 40px;
}

.list-div .hidden {
  display: none;
}

/* HEADER TEXT DESIGN */
.header-text {
  width: 100%;
  display: flex;
  min-height: 60vh;
  /* margin-top: 40px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.header-text .header-heading {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
}

.header-heading h1 {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--White);
}

.header-heading p {
  color: var(--Grayish-blue);
  font-size: 1.2rem;
  max-width: 310px;
}

.header-text .header-btns {
  display: flex;
  gap: 20px;
}

.header-btns button {
  padding: 16px 12px;
  width: 150px;
  border-radius: 40px;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 700;
}

.header-btns .right-btn {
  border: none;
  outline: none;
  color: var(--Light-red);
}

.header-btns .right-btn:hover {
  background-color: var(--Very-light-red);
  color: var(--White);
}

.header-btns .left-btn {
  border: 1px solid var(--White);
  outline: none;
  background: transparent;
  color: var(--White);
}

.header-btns .left-btn:hover {
  background-color: var(--White);
  color: var(--Very-light-red);
}

/* SECTION 1 DESIGN */

.section1,
.section3 {
  width: 100%;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
}

/* SECTION 1 HEADING DESIGN */
.section1 .section1-heading {
  width: 100%;
  text-align: center;
}

.section1-heading h2 {
  color: var(--Very-dark-blue);
  font-size: 1.6rem;
}

/* SECTION 1 - CONTENT DESIGN */
.section1 .section1-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

/* SECTION 1 - IMAGE DESIGN */
.section1-content .section1-mobile-imgdiv {
  max-width: 450px;
}

.section1-mobile-imgdiv img {
  width: 100%;
}

/* SECTION 1 - TEXT DESIGN */
.section1-content .section1-all-texts,
.section3-all-texts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section1-all-texts .section1-all-text-top-div,
.section1-all-text-bottom-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section1-all-texts,
.section3-all-texts h2 {
  color: var(--Very-dark-blue);
  font-size: 2rem;
}

.section1-all-texts,
.section3-all-texts p {
  color: var(--Very-dark-grayish-blue);
  font-size: 1.2rem;
  line-height: 30px;
}

/* SECTION 2 DESIGN */
.section2 {
  background: url(./images/bg-pattern-circles.svg) no-repeat,
    linear-gradient(100deg, hsl(237, 23%, 32%), hsl(237, 17%, 21%));
  background-position: center -275px;
  background-size: 160% auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-top-right-radius: 128px;
  border-bottom-left-radius: 128px;
  margin-top: 180px;
  padding: 0 2rem 6.5rem 2rem;
  position: relative;
  z-index: 0;
}

.section2 .section2-img-div {
  width: 100%;
  height: 10rem;
  position: relative;
}

.section2-img-div img {
  position: absolute;
  left: -10%;
  right: -10%;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 120%;
  max-width: 350px;
  max-height: 350px;
}

.section2 .section2-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.section2-text-content h2 {
  color: var(--White);
  font-size: 2rem;
  font-family: 400;
}

.section2-text-content p {
  color: var(--Grayish-blue);
  font-size: 1.1rem;
  line-height: 30px;
}

/* SECTION 3 DESIGN */

.section3-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.section3-content .section3-mobile-imgdiv {
  max-width: 450px;
}

.section3-mobile-imgdiv img {
  width: 100%;
}

/* FOOTER DESIGN */
.footer {
  width: 100%;
  background: var(--Very-dark-gray-blue);
  border-top-right-radius: 128px;
  font-family: var(--overpass);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 20px;
  gap: 40px;
}

.footer-heading img {
  width: 80px;
}

.footer .footer-contents {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-contents .footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-links h3 {
  color: var(--White);
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-links ul li {
  list-style: none;
  color: var(--Grayish-blue);
  cursor: pointer;
}

.center {
  font-style: italic;
  letter-spacing: normal;
}

@media (min-width: 992px) {
  .header-bg {
    min-height: 50vh;
  }

  /* HEADER DESIGN */
  .header {
    position: relative;
    width: 100%;
    min-height: 80vh;
    background-image: url(./images/bg-pattern-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: 320vh;
    background-position: -200px -700px;
    border-radius: 0px 0px 0px 0px;
  }

  .header .mobile-nav {
    display: none;
  }

  .header .desktop-nav {
    position: absolute;
    width: 100%;
    padding: 60px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktop-nav .desktop-nav-leftside {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  .desktop-nav-leftside .desktop-menu {
    display: flex;
    gap: 30px;
  }

  .list-div span {
    color: var(--White);
  }
}
