@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --Light-red: hsl(356, 100%, 66%);
  --Very-light-red: hsl(355, 100%, 74%);
  --Very-dark-blue: hsl(208, 49%, 24%);

  --White: hsl(0, 0%, 100%);
  --Grayish-blue: hsl(240, 2%, 79%);
  --Very-dark-grayish-blue: hsl(207, 13%, 34%);
  --Very-dark-black-blue: hsl(240, 10%, 16%);

  /* ### Gradient */

  /* Background gradient - Intro/CTA mobile nav: */

  --Very-light-red-bg: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);

  /* Background gradient - body: */

  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);

  /* font family */
  --overpass: "Overpass";
  --ubuntu: "Ubuntu";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h-heading {
  font-family: var(--overpass);
}

.p-para {
  font-family: var(--ubuntu);
}

.container {
  width: 100%;
  height: fit-content;
}

/* HEADER BACKGROUND DESIGN */

.header-bg {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    hsl(13, 100%, 72%) 20%,
    hsl(353, 100%, 62%) 70%
  );
  border-radius: 0px 0px 0px 120px;
}

/* HEADER DESIGN */
.header {
  width: 100%;
  min-height: 100vh;
  background-image: url(./images/bg-pattern-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: 200vh;
  background-position: -250px -200px;
  border-radius: 0px 0px 0px 120px;
}

/* HEADER - MOBILE NAV DESIGN */

.header .mobile-nav {
  width: 100%;
  padding: 60px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* MOBILE NAV - LOGO DESIGN */
.mobile-nav .logo-div .logo {
  height: 30px;
}

/* MOBILE NAV - HAMBURGER DESIGN */
.mobile-nav .hamburger .open-btn {
  cursor: pointer;
}

/* ////////////////////////////////// */

/* MOBILE MENU DESIGN */
.mobile-menu {
  /* display: none; */
  width: 100%;
  position: absolute;
  top: 100px;
  font-family: var(--overpass);
}

.mobile-menu .mobile-menu-list {
  background-color: var(--White);
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  border-radius: 6px;
}

.list-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-div .list-active {
  font-size: 16px;
}

.list-div .list-light {
  background-color: var(--Grayish-blue);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 4px;
}

.list-light span {
  cursor: pointer;
}

.mobile-menu-list hr {
  margin-top: 10px;
}

.mobile-menu-list .mobile-menu-list-signup {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.mobile-menu-list-signup a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.mobile-menu-list-signup .login {
  color: var(--Very-dark-black-blue);
}

.mobile-menu-list-signup .signup {
  color: var(--White);
  background: linear-gradient(
    to right,
    hsl(13, 100%, 72%) 20%,
    hsl(353, 100%, 62%) 70%
  );
  width: fit-content;
  padding: 12px 30px;
  border-radius: 40px;
}

.list-div .hidden {
  display: none;
}

/* ////////////////////////////////// */

/* HEADER TEXT DESIGN */
.header-text {
  width: 100%;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.header-text .header-heading {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.header-heading h1 {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--White);
}

.header-heading p {
  color: var(--Grayish-blue);
  font-size: 1.2rem;
  max-width: 310px;
}

.header-text .header-btns {
  display: flex;
  gap: 20px;
}

.header-btns button {
  padding: 16px 12px;
  width: 150px;
  border-radius: 40px;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 700;
}

.header-btns .right-btn {
  border: none;
  outline: none;
  color: var(--Light-red);
}

.header-btns .right-btn:hover {
  background-color: var(--Very-light-red);
  color: var(--White);
}

.header-btns .left-btn {
  border: 1px solid var(--White);
  outline: none;
  background: transparent;
  color: var(--White);
}

.header-btns .left-btn:hover {
  background-color: var(--White);
  color: var(--Very-light-red);
}
